---
layout: default
---

<div class="home" style="text-align: center;">
    <a href="ru/" style="font-size: x-large;text-shadow: 0px 0px 3px #333;padding-left: 10px;">{{ site.data.languages.ru.icon }}</a>
    <a href="en/" style="font-size: x-large;text-shadow: 0px 0px 3px #333;padding-left: 10px;">{{ site.data.languages.en.icon }}</a>
</div>
