<header class="site-header" style="background-color: #369">
  <div class="wrapper">
    <div class="title" style="float: left">
      <a class="site-title" href="{{ site.baseurl }}/{{ page.lang }}/">
        <img src="/media/img/logo.svg" alt="avex logo" style="height: 50px; width: auto;">
      </a>
    </div>
    <div class="langs" style="float: right">
      {% assign pages=site.pages | where:"ref", page.ref %}
      {% for page_lang in pages %}
        <a href="{{ page_lang.url }}" style="font-size: x-large;text-shadow: 0px 0px 3px #333;padding-left: 10px;">{{ site.data.languages.[page_lang.lang].icon }}</a>
      {% endfor %}
    </div>
  </div>
</header>
